@charset "UTF-8";
/*Customization*/
/*Убираю черную рамку вокруг сайта*/
body {
  background: transparent;
}

body:before, body:after {
  display: none !important;
}

.site {
  margin: 0;
}

/*Сетка каталога*/
.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*Прячу блок для автора, даты и комментария в каталоге*/
  /*Расширяю контентную часть элемента каталога на всю ширину*/
  /*Редактирование заголовка элемента каталога*/
}

.catalog__list .post {
  margin-bottom: 30px;
  width: 33.33%;
}

.catalog__list .entry-footer {
  display: none;
}

.catalog__list .entry-content {
  padding: 0 10px;
  box-sizing: border-box;
  width: auto !important;
}

.catalog__list .entry-title {
  margin-bottom: 0.25em;
  text-align: center;
}

.catalog__list .entry-title a {
  display: block;
  font-size: 1rem;
  line-height: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
